@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  background-color: #121212;
}

ul{
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Darker Grotesque',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  color: #f4f4f4;
}
